repos:
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v{{ cookiecutter._pygrep_hooks_version }}
    hooks:
      - id: python-use-type-annotations
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v{{ cookiecutter._pre_commit_hooks_version }}
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v{{ cookiecutter._ruff_version }}
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --unsafe-fixes
          - --exit-non-zero-on-fix
        types_or:
          - python
          - pyi
          - jupyter
      - id: ruff-format
        types_or:
          - python
          - pyi
          - jupyter
-   repo: https://github.com/kynan/nbstripout
    rev: {{ cookiecutter._nbstripout_version }}
    hooks:
    -   id: nbstripout
-   repo: https://github.com/facebook/pyrefly-pre-commit
    rev: {{ cookiecutter._pyrefly_version }}
    hooks:
    -   id: pyrefly-typecheck-system
        name: Pyrefly (type checking)
        pass_filenames: false
-   repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v{{ cookiecutter._markdownlint_version }}
    hooks:
    -   id: markdownlint-cli2
        args:
          - --fix
